.Button-Container button {
    background: var(--color-primary);
    color: #fff;
    border: 0;
    outline: 0;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 4.72931px;
    cursor: pointer;
    height: 70px;
}


