@media screen and (min-width: 601px) {
    .Home-hide {
        display: none;
    }
}

.Home-background {
    background-image: url('../image/homeImage2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.Home-content-header {
    flex: 1.5;
    width: 100%;
    height: 100%;
}


.Home-overlay {
    background: rgba(12, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.Home-content {
    background: linear-gradient(270.31deg, #000000 -3.93%, #33312F 124.76%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home-content-wrapper {
    padding: 1rem;
    padding-left: 3rem;
}

.Home-btn {
    width: 50% !important;
}

.Home-mobile-btn {
    display: flex;
    justify-content: center;
}

.Home-content-wrapper h1 {
    color: #fff;
    font-size: 2.5rem;
}

.Home-features {
    padding: 4rem;
}

.Home-features p {
    font-size: .8rem;
    text-align: center;
}

.Home-features-content h2 {
    color: #1C7B93;
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Home-features-content h2 {
        font-size: 1.2rem;
    }

}

.Home-features-main {
    margin-top: 4rem;
}

.Home-feature-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .Home-feature-main-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
    
@media screen and (min-width: 991px) {
    .Home-feature-main-content {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

.Home-feature-main-content-item {
    background: #DCEFF4;
    border: 2px solid #1C7B93;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
    transition:  2s;
}

.Home-feature-main-content-item:hover  {
    background: linear-gradient(270deg, rgba(33, 147, 176, 0) 0%, #17677B 0%, #1C7B93 28.87%, #2193B0 100%);
    color: #fff;  
}

.Home-feature-main-content-item span {
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .Home-content-header {
        display: none;
    }
    
    .Home-overlay {
        display: flex;
        align-items: end;
    }

    .Home-features {
        padding: 0;
        margin: 1.5rem;
    }

    .Home-content-wrapper {
        padding: 1rem;
        padding-bottom: 4rem;
    }

    .Home-content-wrapper h1 {
        text-align: center;
        font-size: 1.7rem;
    }

    .Home-btn {
        width: 70% !important;
    }

    .Home-features-main {
        margin-top: 2rem;
    }
    
    .Home-feature-main-content-item {
        padding: 10px;
        cursor: pointer;
        transition:  2s;
    }

    .Home-feature-main-content {
        gap: 12px;
    }
    
}

@media screen and (max-width: 768px) {
    .Home-feature-main-content-item span {
        font-size: 1.1rem;
    }
}
    
