/************************** INPUT STYLES*************************************/
.input-container {
    position: relative;
}

.input-container label {
    display: block;
    font-size: 1rem;
    color: #fff;
}

.input-container label svg {
    margin-left: 5px;
}

.input-container input,
.input-container select {
    background: #FFFFFF;
    border: 1px solid #2193B0;
    color: var(--color-primary);
    /* box-shadow: 0px 7px 64px rgb(0 0 0 / 7%); */
    outline: 0;
    /* border: 0; */
    padding: 10px;
    padding-left: 2.2rem;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    margin-top: 7px;
}

.input-container input:focus,
.input-container select:focus {
    border: 2px solid var(--color-primary);
}

.input-container input::placeholder,
select {
    color: var(--color-primary);
}

.input-container select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 10px;
    -webkit-appearance: none;

}

.input-container span {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 50%;
    transform: translateY(15%);
    font-size: 1.1rem;
    color: var(--color-primary);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;

}

input[type="date"] {
    color: var(--color-primary);
    text-transform: uppercase;
}

/***************** PHONE INPUT STYLE ***************************/
.input-container .react-tel-input .form-control {
    width: 100% !important;
    height: 45px;
}

.input-container .react-tel-input {
    margin-top: 8px;
}

/******************** DATE INPUT STYLE ****************************/

.input-container .ant-picker {
    width: 100% !important;
    border-radius: 4px;
    width: 100% !important;
    border-radius: 4px;
    background: transparent !important;
    border: 0 !important;
}

.input-container .ant-picker-input input{
    outline: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 6px !important;
}

.input-container .ant-picker-input span {
    left: 3px;
    top: 18%;
}

.input-container .ant-picker-input input::-webkit-input-placeholder {
    color: var(--color-dark) !important;
}

.ant-picker {
    padding: 0 !important;
}

.ant-picker input {
    height: 40px !important;
}

.ant-picker-cell .ant-picker-cell-inner {
    min-width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border: 0 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    color: #fff;
    background: linear-gradient(225deg, #70B4C6 0%, #17677B 100%) !important;
    border-radius: 14px !important;
}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
    background: #D8E3FF !important;
    color: #2193B0;
    border-radius: 15px;
    min-width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
}

.ant-picker-range-separator {
    display: none !important;
}

.ant-picker-focused {
    box-shadow: none !important;
}

.input-range-picker span {
    left: 3px !important;
    top: 18% !important;
    display: none;
}

.ant-picker-range .ant-picker-active-bar {
    bottom: -1px;
    height: 2px;
    margin-left: 6px !important;
    background: #1890ff;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
    width: 75px !important;
}

.ant-picker-panel-container {
    overflow: hidden;
    vertical-align: top;
    background: #fff;
    border-radius: 12.8288px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    transition: margin 0.3s;
    background: rgba(245, 245, 245, 1) !important;
}

.ant-picker-header-super-next-btn,
.ant-picker-header-super-prev-btn{
    display: none !important;
}

/************************** END OF DATE STYLES ****************************************/

@media screen and (max-width: 560px) {
    .input-container label {
        font-size: .8rem;
    }
}