
:root {
    --color-primary: rgba(33, 147, 176, 1);
    --color-white: #fff;
    --color-dark:rgba(0, 0, 0, 1);
    -color-light-gray: rgba(245, 245, 245, 1);
    --linear-primary: linear-gradient(270deg, rgba(33, 147, 176, 0) 0%, #17677B 0%, #1C7B93 28.87%, #2193B0 100%);
    --font-big: 2.5rem;
    --font-medium: 2rem;
    --font-small: 1.5rem;
    --font-xtra-small: 1rem;
    --font-small-screen: .7rem;
    --shadow:  0px 7.5669px 15.1338px rgba(0, 0, 0, 0.12);
    --border-radius-lg: 4.72931px;
    --border-radius-xtra: 32px;
    --line-height: 2;
}

/*****ERROR*********/
.error {
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
    color: red;
}

/********** SearchModal *************/
.search-enter {
    transform: translateY(-1rem);
    opacity: 0;
}

.search-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 400ms;
}

.search-exit {
    transform: translateY(0);
    opacity: 1;
}

.search-exit-active {
    transform: translateY(-1rem);
    opacity: 0;
    transition: all 400ms;
}

/**STEPPERS**/
.mode-enter {
    transform: translateY(-100em);
    opacity: 0;
}

.mode-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all .5s;
}

.mode-exit {
    transform: translateY(0);
    opacity: 1;
}

.mode-exit-active {
    transform: translateY(-100em);
    opacity: 0;
    transition: all .5s;
}


/***MODAL***/
.modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
}

.modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
}

.modal-exit {
    transform: translateY(0);
    opacity: 1;
}

.modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;